
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% from "back-link/macro.njk" import govukBackLink %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/result" method="post" novalidate>
        <span class="govuk-caption-l">Verification checks</span>
        <h1 class="govuk-heading-l">How do you check the person is the same person that's shown on the evidence?</h1>

        {% from "checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          idPrefix: "element-c-b",
          name: "element-c-b",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "1",
              text: "Check they physically match the photo on a genuine piece of evidence (you can do this either in person or remotely)"
            },
            {
              value: "2",
              text: "Check their biometric information matches what's on a genuine piece of evidence (you can do this with facial, fingerprint or iris recognition software)"
            },
            {
              value: "3",
              text: "Ask them to complete multiple tasks that only the person they're claiming to be would be able to do",
              hint: "You can make a small payment (such as 1p) into the person's bank account. They will need to sign in to their account and give you the code that's the reference for that payment. If they can give you the code, it will prove they control of and access to that account."
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
