{% extends "layout.html" %}

{% block page_title %}
  Identity assurance standards
{% endblock %}

{% block content %}

<main role="main" id="content" class="html-publication" lang="en">


  <header class="" style="background-color:#005ea5; color:white; padding:40px; padding-top:10px; margin-top:0px; margin-bottom: 60px;">

    <div class="" >
      <p class="govuk-heading-l" style="color:white;">
        <span class="govuk-caption-l" style="color:white; margin-top:60px;">Guidance</span>
      </p>
      <h1 class="govuk-heading-xl" style="color:white;">
        Identity Standards
      </h1>
      <p class="" style="color:white;">Updated 28 September 2018</p>
    </div>

  </header>



<!-- <div class="grid-row sidebar-with-body" data-module="sticky-element-container" id="contents">
    <div class="column-one-third">
     <nav role="navigation" class="gem-c-contents-list gem-c-contents-list--no-underline " data-module="track-click">
      <h2 class="heading-small">Contents</h2>

      <ol class="list list-number">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered ">
          <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#the-purpose-of-the-technology-code-of-practice" data-track-options="{&quot;dimension29&quot;:&quot;The purpose of the Technology Code of Practice&quot;}" href="#the-purpose-of-the-technology-code-of-practice">Choose how you check identities</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered ">
          <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#using-the-technology-code-of-practice" data-track-options="{&quot;dimension29&quot;:&quot;Using the Technology Code of Practice&quot;}" href="#using-the-technology-code-of-practice">Assess the strength of your identity check</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered ">
          <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#using-the-technology-code-of-practice" data-track-options="{&quot;dimension29&quot;:&quot;Using the Technology Code of Practice&quot;}" href="#using-the-technology-code-of-practice">Read the standards</a>
        </li>

      </ol>
    </nav>
  </div> -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p>
      The Identity Standards tell you the best way to check someone’s identity.
    </p>
    <p>The Identity Standards are made up of several pieces of guidance. If you follow the guidance, your service will be consistent with other services that have met the Identity Standards.</p>

    <p>
      If you follow the Identity Standards, you can be more sure your users:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>are who they say they are</li>
      <li>only get access to things they're meant to have</li>
    </ul>

    <p>
      Following the Identity Standards can also:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>lower risks, such as identity theft, to your service and your users</li>
      <li>let you get fraud and threat information from other organisations</li>
    </ul>
    <p>Many existing identity checking processes are built to meet the Identity Standards. You can use one of these processes or follow the Identity Standards to build your own way to check identity.</p>
    <p>The Identity Standards are also designed to be compatible with existing regulations, such as the eIDAS regulation.</p>

<h2 class="govuk-heading-m">
  Choose how you check identities

</h2>

  <p>
   The Identity Standards explain the different methods you can use to check someone’s identity. You can pick and choose the methods that are best for your service.
  </p>


  <p>
    How confident you can be that someone is who they say they are depends on how thoroughly you choose to carry out a check. If you need to be really certain of the person's identity, the Identity Standards will tell you what you need to do.
  </p>

<h2 class="govuk-heading-m">
  Assess your identity checks against the standards
</h2>

  <p>Use this tool to assess how strong your checks are and whether you have any gaps.</p>
  <p><a class="govuk-link" href="/index">Assess the strength of your identity checks</a></p>

  <h2 class="govuk-heading-m">
  Read the standards
</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="https://www.gov.uk/government/publications/identity-proofing-and-verification-of-an-individual">Authentication credentials for online government services</a></li>
      <li><a class="govuk-link" href="https://www.gov.uk/government/publications/authentication-credentials-for-online-government-services">Identity proofing and verification of an individual</li>
    </ul>




  </div>

  </div>
</main>

{% endblock %}
