
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% from "back-link/macro.njk" import govukBackLink %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Fraud checks</span>
      <h1 class="govuk-heading-l">How many data sources do you check?</h1>

      <p>
        You should check if the identity has been stolen or used fraudulently with an authoritative and independent data source.
      </p>

      <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Find out about authoritative and independent data sources
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>
      To be authoritative, a source must have data about the identity or evidence.
    </p>

    <p>
      The data about the evidence must be from the organisation that issued it. They’ll need to know enough about the identity or evidence to be able to confirm if the details you have are right. They'll also need to make sure the information is up to date and hasn't been tampered with.
    </p>

    <p>
      The data source must also be independent. This means they're either separate to the part of your organisation that checks the person's identity or part of a different organisation.
    </p>
  </div>
</details>

      <form action="/element-c-a" method="post" novalidate>

        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "element-d-c",
          name: "element-d-c",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
          }
        },
          items: [
            {
              value: "1",
              text: "One"
            },
            {
              value: "2",
              text: "More than one"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
