
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/element-c-a-answer" method="post" novalidate>

        <h1 class="govuk-heading-xl">Does your service ask the person any questions about their identity?</h1>

        <p>
          Asking them questions that only the person they're claiming to be would know can help you be sure they are who they say they are.
        </p>
        <p>
          The questions could be about things like their financial activity.
        </p>

        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "element-c-a",
          name: "element-c-a",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
