
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% from "back-link/macro.njk" import govukBackLink %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/element-d-a-answer" method="post" novalidate>
        <span class="govuk-caption-l">Fraud checks</span>
        <h1 class="govuk-heading-l">Has the identity been stolen or used fraudulently?</h1>

        <p>
          Your current process must check all of the following about the person:
          <ul class="govuk-list govuk-list--bullet">
            <li>they’ve not had their details stolen (even if those details have not been used fraudulently yet)</li>
            <li>they’ve not been a victim of identity theft</li>
            <li>they’re not a known fraudulent identity</li>
            <li>they’ve not had any information unique to a piece of evidence they have (such as a reference number) stolen and used fraudulently</li>
          </ul>
        </p>

        <p class="govuk-!-margin-bottom-6">
          You must check this with an authoritative data source.
        </p>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Find out more about authoritative data sources
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>
              To be authoritative, a source must have data about the identity or evidence.
            </p>

            <p>
              The data about the evidence must be from the organisation that issued it. They’ll need to know enough about the identity or evidence to be able to confirm if the details you have are right. They'll also need to make sure the information is up to date and hasn't been tampered with.
            </p>
          </div>
        </details>

        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "element-d-a",
          name: "element-d-a",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
