
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% from "back-link/macro.njk" import govukBackLink %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/element-c-a-answer" method="post" novalidate>
        <span class="govuk-caption-l">Verification checks</span>
        <h1 class="govuk-heading-l">Do you ask any questions that only the person should know the answer to?</h1>

        <p>
          You might ask the person questions that only the person they’re claiming to be would know the answer to. The questions should be about things that you can also find the answer to, like the person’s financial activity.
        </p>

        <div class="govuk-inset-text govuk-!-margin-bottom-9">
          <p>
            <span style="font-weight:bold">Example</span><br>
            You could ask the person how much their monthly mortgage payments are. To be able to answer this, they'll need a mortgage (they would have had to prove their identity to get one) and have bills that were sent to their address.
          </p>
        </div>

        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "element-c-a",
          name: "element-c-a",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
