
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Does your evidence meet the criteria for a score of 4?
      </h1>

      <p>
        It also contains:
        <ul class="govuk-list govuk-list--bullet">
          <li>the evidence contains biometric information that’s protected by cryptographic security features</li>
          <li>the organisation compared the person to another image of them before they issued the evidence</li>
        </ul>
      </p>

      <br>

      <form action="/evidence-score-4-answer" method="post" novalidate>

        {{ govukRadios({
          idPrefix: "evidence-score",
          name: "evidence-score",
          fieldset: {
            legend: {
              text: "Does your evidence meet the above criteria?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "4",
              text: "Yes"
            },
            {
              value: "3",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>

  {% endblock %}
