
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Does your evidence meet the criteria for a score of 2?
      </h1>

      <p>
        It also contains:
        <ul class="govuk-list govuk-list--bullet">
          <li>it includes information that's unique to that piece of evidence or the person (for example a reference number or a photo of them)</li>
          <li>the organisation checked the person’s identity when they issued the evidence</li>
          <li>If the evidence has any physical components, you must check they can’t be reproduced without knowledge or information held by the organisation that issued it.</li>
          <li>If the evidence includes digital information (for example it’s a digital identity account), you must check it’s protected by cryptographic security features (such as a cryptographic key on a chip). You should be able to trust the evidence was issued by a real organisation when you inspect the cryptographic security features.</li>
        </ul>
      </p>

      <br>

      <form action="/evidence-score-2-answer" method="post" novalidate>

        {{ govukRadios({
          idPrefix: "evidence-score",
          name: "evidence-score",
          fieldset: {
            legend: {
              text: "Does your evidence meet the above criteria?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "2",
              text: "Yes"
            },
            {
              value: "1",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>

  {% endblock %}
