
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Does your evidence meet the criteria for a score of 1?
      </h1>

      <p>
        It contains the person’s name and some information that's unique to them, for example:
        <ul class="govuk-list govuk-list--bullet">
          <li>their address</li>
          <li>their date or place of birth</li>
          <li>their photo</li>
          <li>a reference number</li>
        </ul>
      </p>

      <p>
        The evidence has been issued by an organisation and not made by the person.
      </p>

      <br>

      <form action="/evidence-score-1-answer" method="post" novalidate>

        <div style="display: none">
          {% set count = data["evidence-count"] | int  %}

          {% set count = count + -1 %}

          {{ count }}

          {% from "input/macro.njk" import govukInput %}

          {{ govukInput({
            label: {
              text: "evidence-count"
            },
            id: "evidence-count",
            name: "evidence-count",
            value: count
          }) }}
        </div>

        {{ govukRadios({
          idPrefix: "evidence-score",
          name: "evidence-score",
          fieldset: {
            legend: {
              text: "Does your evidence meet the above criteria?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "1",
              text: "Yes"
            },
            {
              value: "0",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>

  {% endblock %}
