
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/check-evidence-answer" method="post" novalidate>

        {% from "checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          idPrefix: "how-check-evidence",
          name: evidence+"['check']",
          fieldset: {
            legend: {
              text: "How do you check the "+ evidence+"?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "A",
              text: "A"
            },
            {
              value: "B",
              text: "B"
            },
            {
              value: "C",
              text: "C"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
