
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/other-evidence-1-f-answer" method="post" novalidate>

        <h1 class="govuk-heading-l">Information on the {{data['evidence-1-name']}} and how it's issued</h1>

        <p>
          Are all of the following true:
          <ul class="govuk-list govuk-list--bullet">
            <li>the evidence includes the person’s full name instead of their initials</li>
            <li>the evidence includes information that’s unique to it (for example a reference number)</li>
            <li>the organisation made sure they issued the evidence to the same person who applied for it</li>
          </ul>
        </p>

        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "other-evidence-1-f",
          name: "other-evidence-1-f",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "no"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
