
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% from "back-link/macro.njk" import govukBackLink %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Evidence validity</span>
      <form action="/passport-answer" method="post" novalidate>

        {{data['foo']}}

        {% from "checkboxes/macro.njk" import govukCheckboxes %}

        {% set checksHTML %}
          {{ govukCheckboxes({
            idPrefix: "passport-checks",
            name: "passport-checks",
            fieldset: {
              legend: {
                text: "What checks do you do?",
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: ""
            },
            items: [
              {
                value: "1",
                text: "Check the person's details match what's in HM Passport Office's (HMPO's) database"
              },
              {
                value: "2",
                text: "Check the passport number matches what's in HMPO's database"
              },
              {
                value: "3",
                text: "Check the passport and its security features (such as the holograms or watermarks) are genuine"
              },
              {
                value: "4",
                text: "Check the chip on the passport is genuine"
              }
            ]
          }) }}
        {% endset -%}

        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "passport-checks-a",
          name: "passport-checks-a",
          fieldset: {
            legend: {
              text: "Do you check the UK passport?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: checksHTML
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
