
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% from "back-link/macro.njk" import govukBackLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/your-risk"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- <span class="govuk-caption-l">Evidence</span> -->
      <form action="/what-evidence-answer" method="post" novalidate>
        <h1 class="govuk-heading-l">What kind of evidence do you collect?</h1>

        <p>
          Your current process might collect different combinations of evidence depending on who’s identity you’re checking. If it does, answer this question based on just one combination of evidence.
        </p>

        {% from "checkboxes/macro.njk" import govukCheckboxes %}
        {% from "textarea/macro.njk" import govukTextarea %}

        {% set otherHTML %}
        {{ govukTextarea({
          id: "other-count",
          name: "other-count",
          label: {
            text: "Tell us about the other evidence you collect"
          }
        }) }}
        {% endset -%}


        {{ govukCheckboxes({
          idPrefix: "what-evidence",
          name: "evidence",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "Passport",
              text: "UK passport"
            },
            {
              value: "Driving licence",
              text: "UK driving licence"
            },
            {
              value: "Other",
              text: "Evidence not listed above",
              conditional: {
                html: otherHTML
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
