
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/what-elements-answer" method="post" novalidate>

        {% from "checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          idPrefix: "elements",
          name: "elements",
          fieldset: {
            legend: {
              text: "What sort of things does your identity solution check?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "A",
              text: "It checks evidence exists of that person's identity"
            },
            {
              value: "B",
              text: "It checks the evidence is genuine and valid"
            },
            {
              value: "C",
              text: "It checks their identity has existed over time"
            },
            {
              value: "D",
              text: "It checks their identity hasn't been stolen or used fraudulently"
            },
            {
              value: "E",
              text: "It checks they are the same person the evidence was given to"
            },
            {
              value: "none",
              text: "It doesn't check any of these things"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
