
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% from "back-link/macro.njk" import govukBackLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/index"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- <span class="govuk-caption-l">Evidence</span> -->
      <form action="/what-evidence-answer" method="post" novalidate>

        {% from "checkboxes/macro.njk" import govukCheckboxes %}
        {% from "input/macro.njk" import govukInput %}

        {% set otherHTML %}
        {{ govukInput({
          id: "other-count",
          name: "other-count",
          classes: "govuk-input--width-2",
          label: {
            text: "How many pieces of evidence do you collect?"
          }
        }) }}
        {% endset -%}


        {{ govukCheckboxes({
          idPrefix: "what-evidence",
          name: "evidence",
          fieldset: {
            legend: {
              text: "What kind of evidence does your service collect?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "Passport",
              text: "UK passport"
            },
            {
              value: "Driving licence",
              text: "UK driving licence"
            },
            {
              value: "Other",
              text: "Another piece of evidence",
              conditional: {
                html: otherHTML
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
