
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/what-evidence" method="post" novalidate>

        {% from "checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          idPrefix: "what-checks",
          name: "what-checks",
          fieldset: {
            legend: {
              text: "What checks?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "carcasses",
              text: "A"
            },
            {
              value: "mines",
              text: "B"
            },
            {
              value: "farm",
              text: "C"
            },
            {
              value: "farm",
              text: "D"
            },
            {
              value: "farm",
              text: "E"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
